<ul class="navigation">
    <li class="f_nav-item" ng-class="{is_active:isUsersActive}" ui-sref="main.users.list" ui-sref-opts="{reload: true, notify: true}"><a href="javascript:void(0);">Users</a></li>
    <li class="f_nav-item" ng-class="{is_active:isGroupsActive}" ui-sref="main.groups.list" ui-sref-opts="{reload: true, notify: true}"><a href="javascript:void(0);">Groups</a></li>
    <li class="f_nav-item" ng-class="{is_active:isPlansActive}" ui-sref="main.plans.list" ui-sref-opts="{reload: true, notify: true}"><a href="javascript:void(0);">Plans</a></li>
    <li class="f_nav-item" ng-class="{is_active:isDocumentsActive}" ui-sref="main.dashboard" ui-sref-opts="{reload: true, notify: true}"><a href="javascript:void(0);">Subscriptions</a></li>
</ul>
<div class="clear"></div>